@import "sidebar-mods.css"; 
@import "private-window-theme.css";
@import "rounded-corners.css";

#TabsToolbar
{
    visibility: collapse;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  display: none;
}

#main-window[titlepreface^="[1] "] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  visibility: collapse !important;
}
